input[type=checkbox].red:checked {
	border-color: #e74c3c !important;
	-webkit-box-shadow: inset 0 0 0 13px #e74c3c !important;
	-moz-box-shadow: inset 0 0 0 13px #e74c3c !important;
	-ms-box-shadow: inset 0 0 0 13px #e74c3c !important;
	-o-box-shadow: inset 0 0 0 13px #e74c3c !important;
	box-shadow: inset 0 0 0 13px #e74c3c !important;
}
input[type=checkbox].red:checked:after {
	border-color: #e74c3c !important;
}

.notification .progress[data-progress] {
	height: 1.3em;
}
.notification .progress[data-progress] .value {
	height: 1em;
}