<aside id="tmpl_sync_import">
	<fieldset>
		<label class="anchor">{{display}}</label>
		<input type="checkbox" name="{{name}}" value="{{value}}" class="inline right" {{checked}} {{disabled}}>
	</fieldset>
</aside>