<script id="tmpl_person_visited" type="text/x-gisiph-tmpl">
	<fieldset id="last_pressure">
		<label>ค่าความดัน</label>
		<input type="text" value="{{last_pressure}} mmHg" readonly>
	</fieldset>
	<fieldset id="last_sugarblood">
		<label>ค่าน้ำตาล</label>
		<input type="text" value="{{last_sugarblood}} mg/dL" readonly>
	</fieldset>
	<fieldset>
		<label>กลุ่มอาการ</label>
		<input type="text" value="{{color_case}}" readonly>
	</fieldset>
	<fieldset>
		<label>อาการจาก</label>
		<input type="text" value="{{color_from}}" readonly>
	</fieldset>
</script>