<aside id="tmpl_account_about">
	<li class="anchor contrast">รายละเอียดผู้ใช้งาน</li>
	<li data-icon="user-md">
		<strong>ชื้อผู้ใช้</strong>
		<small>{{username}}</small>
	</li>
	<li data-icon="stethoscope">
		<strong>ชื่อขนามสกุล</strong>
		<small>{{fullname}}</small>
	</li>
	<li data-icon="hdd">
		<strong>เครื่องให้บริการข้อมูล</strong>
		<small>{{hostname}}</small>
	</li>
	<li data-icon="time">
		<strong>เวลาลงชื่อเข้าใช้</strong>
		<small>{{timestamp}}</small>
	</li>
</aside>