<script id="tmpl_house_detail" type="text/x-gisiph-tmpl">
	<fieldset>
		<textarea readonly>{{address}}</textarea>
	</fieldset>
	<div class="color {{house_color}}">&nbsp;</div>
	<div id="house_location">
		<img data-house-id="{{house_id}}" src="http://maps.googleapis.com/maps/api/staticmap?center={{latitude}},{{longitude}}&zoom=14&size={{width}}x{{height}}&scale=1&markers={{latitude}},{{longitude}}&sensor=false">
	</div>
	<fieldset>
		<span id="lat_edit" data-house-id="{{house_id}}" data-lon="{{longitude}}" class="icon edit"></span>
		<label>ละติจูด</label>
		<input id="latitude" type="text" value="{{latitude}}">
	</fieldset>
	<fieldset>
		<span id="lon_edit" data-house-id="{{house_id}}" data-lat="{{latitude}}" class="icon edit"></span>
		<label>ลอนจิจูด</label>
		<input id="longitude" type="text" value="{{longitude}}">
	</fieldset>
	<fieldset>
		<label>ผู้แก้ไข</label>
		<input type="text" value="{{uedit}}" readonly>
	</fieldset>
	<fieldset>
		<label>เวลาแก้ไข</label>
		<input type="text" value="{{timestamp}}" readonly>
	</fieldset>
	<button class="anchor small" data-house-id="{{house_id}}">แก้ไขพิกัด</button>
</script>