<script id="tmpl_person_detail" type="text/x-gisiph-tmpl">
	<fieldset>
		<label>ชื่อ-สกุล</label>
		<input type="text" value="{{fullname}}" readonly>
	</fieldset>
	<fieldset>
		<label>อายุ</label>
		<input type="text" value="{{age}} ปี" readonly>
	</fieldset>
	<fieldset>
		<label>วันเกิด</label>
		<input type="text" value="{{birth}}" readonly>
	</fieldset>
	<fieldset>
		<label>บัตร ปชช.</label>
		<input type="text" value="{{idcard}}" readonly>
	</fieldset>
	<fieldset>
		<label>การศึกษา</label>
		<input type="text" value="{{educate}}" readonly>
	</fieldset>
	<fieldset>
		<label>อาชีพ</label>
		<input type="text" value="{{occupa}}" readonly>
	</fieldset>
	<fieldset>
		<label>เชื้อชาติ</label>
		<input type="text" value="{{origin}}" readonly>
	</fieldset>
	<fieldset>
		<label>สัญชาติ</label>
		<input type="text" value="{{nation}}" readonly>
	</fieldset>
</script>