<aside id="tmpl_account_about">
	<li>
		<strong>Username</strong>
		<small>{{username}}</small>
	</li>
	<li>
		<strong>Name</strong>
		<small>{{fullname}}</small>
	</li>
	<li>
		<strong>Hostname</strong>
		<small>{{hostname}}</small>
	</li>
	<li>
		<strong>Timestamp</strong>
		<small>{{timestamp}}</small>
	</li>
</aside>