<script id="tmpl_chronic_photos" type="text/x-gisiph-tmpl">
	<img data-photo-id="{{photo_id}}" data-person-id="{{person_id}}" data-chroniccode="{{chroniccode}}" data-capture="{{capture}}" src="{{src}}">
</script>