<script id="tmpl_person_chronics" type="text/x-gisiph-tmpl">
	<li class="arrow" data-person-id="{{person_id}}" data-chroniccode="{{chroniccode}}">
		<strong>{{detail}}</strong>
		<small>ตรวจพบเมื่อ {{datefirstdiag}}</small>
	</li>
</script>