<aside id="tmpl_charts_detail">
	<li style="-webkit-box-shadow: inset 4px 0 {{color_column}};
	-moz-box-shadow: inset 4px 0 {{color_column}};
	-ms-box-shadow: inset 4px 0 {{color_column}};
	-o-box-shadow: inset 4px 0 {{color_column}};
	box-shadow: inset 4px 0 {{color_column}};">
		<strong>{{column}}</strong>
		<small class="form">{{value}}</small>
	</li>
</aside>