<script id="tmpl_house_photos" type="text/x-gisiph-tmpl">
	<figure>
		<img data-photo-id="{{photo_id}}" data-house-id="{{house_id}}" data-capture="{{capture}}" src="{{src}}">
		<figcaption>{{uedit}} - {{timestamp}}</figcaption>
	</figure>
</script>